/node_modules
/dist
/docker-compose.override.yml
/infection.log

###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
.phpunit.result.cache
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###
